body{
    background-color: rgb(0, 88, 131);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
    color:  honeydew;
    margin: 20px 20px 20px 20px;
}
    
h2{
    color: rgb(244,121,32);
    margin: 20px 20px 20px 20px;
}

h3{
    color: rgb(240,180,41);  
    margin: 20px 20px 20px 20px;
}
p{
    color: honeydew;
    margin: 20px 20px 20px 20px;
}
ol{
    color:honeydew; 
    margin: 20px 20px 20px 20px;   
}
ul{
    color: honeydew;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px 20px 20px 20px;
}

button{
    background-color:rgb(240,180,41);
   display: inline-block; 
   font-size: x-large;
   margin : 10px;
   padding: 10px 0px;
   text-align: center;
   width: 200px;
   text-decoration: none;
   box-shadow: 0px 3px 0px #373c3c;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border-radius: 50px;
}

.boton{
    background-color:honeydew;
    font-size: x-large;
    margin : 10px;
    padding: 5px 0px;
    text-align: center;
    width: 200px;
    box-shadow: 0px 3px 0px #373c3c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 50px;
}
button:hover{
    box-shadow: 0px 0px 0px;
    padding-top: 7px;
}

.Tabla{
    width: 80%;
    margin: 40px;
}
img{
    border: honeydew;
    background-color: honeydew;

}
.box{
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
}
input.src{
    padding: 6px 10px 9px 32px;
    outline:none;
    font-size: 18px;
    border-radius: 15px;
    color: #444;
    border: 3px solid rgb(240,180,41);
    background: #fff 
    width: 60px;
    transition: all.5s;
}
input.src:hover{
    width: 180px;
    background-color: #fff;
    border-color:rgb(240,180,41);
    box-shadow: 0 0 5px rgb(0, 88, 131);
}

